{% extends 'base.html'%} {%load static%}{% block content%}

<style>
  .main {
    transition: width 0.5s ease;
  }
</style>
<div
  class="w-72 min-h-screen fixed left-0 bg-sky-950 items-center flex flex-col  rounded-r-lg "
  id="nav"
>
  <div
    class="w-full bg-sky-950 relative flex flex-col py-5 items-center justify-center"
  >
    <img src="{% static 'users/logo.png'%}" alt="logo" class="w-20  " />
    <p class=" mt-2 text-center	uppercase	font-semibold text-l text-white">
      Conseil De La Prefecture <br />
      D'Oujda Angad
    </p>
  </div>

  <ul class="w-full flex flex-col">
    <li class="w-full rounded-md group">
      <a
        href="{% url 'users:dashboard_magasinier' %}"
        class="inline-flex w-full gap-2 h-full items-center py-3 pl-4 text-lg leading-5 transition duration-200 ease-in-out focus:outline-none border-transparent   font-medium text-amber-400 group-hover:text-sky-950 group-hover:bg-amber-400"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
          />
        </svg>

        Tableau de Bord
      </a>
    </li>
    <li>
      <hr class="my-2 border-amber-400 mx-5" />
    </li>
    <li class="w-full rounded-md group">
      <a
        href="{% url 'produit:product_list' %}"
        class="inline-flex w-full gap-2 h-full items-center py-3 pl-4 text-lg leading-5 transition duration-200 ease-in-out focus:outline-none border-transparent   font-medium text-amber-400 group-hover:text-sky-950 group-hover:bg-amber-400"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.5 21v-7.5a.75.75 0 01.75-.75h3a.75.75 0 01.75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349m-16.5 11.65V9.35m0 0a3.001 3.001 0 003.75-.615A2.993 2.993 0 009.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 002.25 1.016c.896 0 1.7-.393 2.25-1.016a3.001 3.001 0 003.75.614m-16.5 0a3.004 3.004 0 01-.621-4.72L4.318 3.44A1.5 1.5 0 015.378 3h13.243a1.5 1.5 0 011.06.44l1.19 1.189a3 3 0 01-.621 4.72m-13.5 8.65h3.75a.75.75 0 00.75-.75V13.5a.75.75 0 00-.75-.75H6.75a.75.75 0 00-.75.75v3.75c0 .415.336.75.75.75z"
          />
        </svg>

        Magasin
      </a>
    </li>
    <li class="w-full rounded-md group">
      <a
        href="{% url 'transactions:bulletin_list' %}"
        class="inline-flex w-full gap-2 h-full items-center py-3 pl-4 text-lg leading-5 transition duration-200 ease-in-out focus:outline-none border-transparent   font-medium text-amber-400 group-hover:text-sky-950 group-hover:bg-amber-400"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z"
          />
        </svg>

        Bulletin de commande
      </a>
    </li>
    <li class="w-full rounded-md group">
      <a
        href="{% url 'transactions:bon_list' %}"
        class="inline-flex w-full gap-2 h-full items-center py-3 pl-4 text-lg leading-5 transition duration-200 ease-in-out focus:outline-none border-transparent   font-medium text-amber-400 group-hover:text-sky-950 group-hover:bg-amber-400"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75"
          />
        </svg>

        Bon de livraison
      </a>
    </li>

    <li class="w-full rounded-md group">
      <a
        href="{% url 'produit:ajouter' %}"
        class="inline-flex w-full gap-2 h-full items-center py-3 pl-4 text-lg leading-5 transition duration-200 ease-in-out focus:outline-none border-transparent   font-medium text-amber-400 group-hover:text-sky-950 group-hover:bg-amber-400"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0012 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52l2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 01-2.031.352 5.988 5.988 0 01-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0l2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 01-2.031.352 5.989 5.989 0 01-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971z"
          />
        </svg>

        Produit et catégorie
      </a>
    </li>
    <li class="w-full rounded-md group">
      <a
        href="{% url 'transactions:create_fournisseur' %}"
        class="inline-flex w-full gap-2 h-full items-center py-3 pl-4 text-lg leading-5 transition duration-200 ease-in-out focus:outline-none border-transparent   font-medium text-amber-400 group-hover:text-sky-950 group-hover:bg-amber-400"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205l3 1m1.5.5l-1.5-.5M6.75 7.364V3h-3v18m3-13.636l10.5-3.819"
          />
        </svg>

        Fournisseur
      </a>
    </li>
    <div>
      <li>
        <hr class="my-2 border-amber-400 mx-5" />
      </li>
      <li class="w-full rounded-md group">
        <a
          href="{% url 'transactions:date_range' %}"
          class="inline-flex w-full gap-2 h-full items-center py-3 pl-4 text-lg leading-5 transition duration-200 ease-in-out focus:outline-none border-transparent   font-medium text-amber-400 group-hover:text-sky-950 group-hover:bg-amber-400"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 01-2.25 2.25M16.5 7.5V18a2.25 2.25 0 002.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 002.25 2.25h13.5M6 7.5h3v3H6v-3z"
            />
          </svg>

          Etat B.C
        </a>
      </li>
      <li class="w-full rounded-md group">
        <a
          href="{% url 'produit:product_state' %}"
          class="inline-flex w-full gap-2 h-full items-center py-3 pl-4 text-lg leading-5 transition duration-200 ease-in-out focus:outline-none border-transparent   font-medium text-amber-400 group-hover:text-sky-950 group-hover:bg-amber-400"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 01-2.25 2.25M16.5 7.5V18a2.25 2.25 0 002.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 002.25 2.25h13.5M6 7.5h3v3H6v-3z"
            />
          </svg>

          Etat du Stock
        </a>
      </li>
    </div>
    <li
      class="w-full bg-amber-400 rounded-lg border-sky-950 border-2 py-4 px-4 left-0 text-black absolute bottom-0 flex justify-between"
    >
      <div class="flex w-full justify-between h-full rounded-lg items-center">
        <p class="text-lg font-bold text-sky-950 ">{{nom}} {{prenom}}</p>
        <a href="{% url 'users:logout_user'%}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 text-red-700"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75"
            />
          </svg>
        </a>
      </div>
    </li>
  </ul>
</div>
<main class="main pl-72 " id="main">
  <div class="h-40  px-4 pl-12" id="top">
    <h1
      class="text-4xl font-bold text-sky-950 capitalize  pb-4 pt-20 border-b-2 border-amber-400 w-full "
    >
      {% block header%} tableau de bord {% endblock%}
    </h1>
  </div>
  <div class="px-12" id="wraper2">{% block main%} {% endblock%}</div>
</main>
{%endblock%}
