{% extends 'dashboard.html' %} {% block title %}Bon de livraison{% endblock %}
{% block header %}Bon de livraison{% endblock %} {% block main %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <div class="flex items-center bg-blue-500 text-white text-sm font-bold px-4 py-3" role="alert">
      <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z"/></svg>
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    </div>
     
    {% endfor %}
  </ul>
{% endif %}
<div class="px-16">
  <div class="border rounded-b-lg relative shadow-lg" id="content">
    <h1 class="text-center mt-4 mb-2 text-2xl font-bold text-sky-950">
      Bon de livraison #{{ bl.pk }}
    </h1>
    <h1 class="text-center mt-4 mb-2 text-2xl font-bold text-sky-950">
      {{ bl.type_bl }}
    </h1>
    <p class="text-center font-semibold text-slate-600 mb-4">
      Le fournisseur {{ bl.fournisseur }} a livré les produits suivants:
    </p>
    <span class="absolute top-0 mt-5 ml-5 text-xs text-slate-500 font-semibold"
      >{{ bl.date }}</span
    >

    <div class="px-8 pb-5">
      <table class="w-full">
        <thead>
          <tr>
            <th
              class="text-center py-2 px-3 text-amber-300 font-bold border border-amber-400 bg-sky-950"
              rowspan="2"
            >
              Désignation des produits
            </th>
            <th
              class="text-center py-2 px-3 text-amber-300 font-bold border border-amber-400 bg-sky-950"
              rowspan="2"
            >
              Quantité livrée
            </th>
          </tr>
        </thead>
        <tbody>
          {% for entree in bl.entreedeproduit_set.all %}
          <tr class="text-center">
            <td class="py-1 border-b border-x px-2">
              {{ entree.produit_entree }}
            </td>
            <td class="py-1 border-b border-x px-2">
              {{ entree.quantite_entree }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="flex justify-center mt-5 mb-5">
    <button
      id="btn-print"
      class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-amber-500 rounded-full shadow ripple hover:shadow-lg hover:bg-amber-600 focus:outline-none  justify-center w-1/3"
    >
      Print et PDF
    </button>
  </div>
</div>

<script>
  jQuery(document).ready(function(){
    $('#btn-print').click(function(){

     // Hide the buttons
     document.getElementById("btn-print").style.display = "none";
     document.getElementById("nav").style.display = "none";
     document.getElementById("top").style.display = "none";
     console.log(1)
     document.getElementById("main").style.paddingLeft="0";
     console.log(2)

     document.getElementById("wraper2").style.padding="0";
     console.log(3)

     document.getElementById("content").style.boxShadow="none";
     console.log(4)

     document.getElementById("content").style.border="none";
     console.log(5)




     // Print the page
     window.print();
     location.reload();
     // Show the buttons again
   })})
</script>
{% endblock %}
